.menu-list {
  width: 250px;

  // menu items
  .menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    margin-left: 0;
    padding: 11px 16px;

    &:hover {
      background-color: rgba(22, 25, 35, 0.03);
    }
  }
}

.menu-propper {
  padding-bottom: 8px;
}
